[Unit]
Description=uWSGI daemon

[Service]
User=djangouser
Group=djangousers
ExecStart=/mnt/django/sessiononline/venv/bin/uwsgi --ini /mnt/django/sessiononline/core_uwsgi.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=Forking
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target