
#howtowrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#howto {
    color: #c7d1e2;
    font-size: medium;
}

.topic {
    color: black;
    /*
    color: #c7d1e2;
    */
    font-size: x-large;
}