{% extends "basepages/basepage.html" %}

{% block title %} about {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pages/about.css" />
{% endblock %}

{% block content %}

    <div>
        <div id="aboutwrapper">
            <div id="about">
                <p class="topic">
                    for user of our website:
                </p>
                <p>
                    on this website you can view listed Session communities, their statuses and<br>
                    copy their urls to join.
                </p>
                <p>
                    on this website you can add your community to the list by pasting the url<br>
                    after logging in
                </p>
                <p>
                    the site is under development. sorry for any bugs.
                </p>
                <p>
                    the site is not affiliated with Session or any other organization.
                </p>
                <p>
                    the site does not track you. the site does not use cookies.
                </p>
                <p>
                    the site does not use any ads or any third party services.
                </p>
                <p>
                    the site does not store any data about you. the site does not use any analytics.
                </p>
                <p>
                    the site does not use any javascript and is thus compatible with TOR
                </p>
                <p>
                    the site is developed by puolimetalli.
                </p>
                <p>
                    i will be present in all listed communities no matter what is the content<br>
                    of the community.
                </p>
                <p>
                    i will be happy to hear your feedback. you can contact me on session:
                </p>
                <p>
                    05776ef97ea471892f4f05c653b7c93f7dc95128472fa0658dab21f89746f05772
                </p>
                <br>
                <p class="topic">
                    guide for session community host:
                </p>
                <p>
                    if you want to add an existing session community, please use the add community page.
                </p>
                <p>
                    all communities added to the list must act in accordance to Session ToS:<br>
                    <a href="https://getsession.org/terms-of-service">https://getsession.org/terms-of-service</a>
                </p>
                <p>
                    please read the section 5.2 about Content Policy:<br>
                    Violent Behaviour, Violent Extremism and Terrorism, Child Sexual Exploitation,<br>
                    Extremely Violence and/or Graphic Content, Harmful and/or Unlawful Content
                </p>
                <p>
                    if you don't have session community but want one and want it listed here, follow these<br>
                    steps:
                </p>
                <p>
                    1.<br>
                    rent a server. you need 2GB of RAM and two processor cores. this costs around<br>
                    10$ / month. i rent mine at:<br>
                    <a href="https://www.hetzner.com">https://www.hetzner.com</a><br>
                    use Ubuntu 22.04 OS
                </p>
                <p>
                    2.<br>
                    create a SSH connection to the server. for this i use PuTTy:<br>
                    <a href="https://putty.org/index.html">https://putty.org/index.html</a>
                </p>
                <p>
                    3.<br>
                    follow this github guide to install SOGS on the server.<br>
                    this installation should contain everything needed to run a session community:<br>
                    <a href="https://github.com/session-foundation/session-pysogs/">https://github.com/session-foundation/session-pysogs/</a>
                </p>
                <p>
                    4.<br>
                    you should now be able to create your session communities.<br>
                    use "sogs --help" -command on your server.
                </p>
                <p>
                    5.<br>
                    copy your session community URL and paste it on "add community" -page.<br>
                    you need to create an account and login to be able to add a session community on our<br>
                    website.<br>
                </p>
                <br>
                <p class="topic">
                    reporting session communities:
                </p>
                <p>
                    report session communities which break the rules.
                    <hr style="border: 0">
                    <hr style="border: 0">
                    session id of site admin puolimetalli:
                    <hr style="border: 0">
                    05776ef97ea471892f4f05c653b7c93f7dc95128472fa0658dab21f89746f05772
                </p>
                <br>
                <p class="topic">
                    session community listing websites:
                </p>
                <p>
                    here you can find more session communities which are not listed on this site.
                </p>
                <p>
                    <a href="https://sessioncommunities.online">https://sessioncommunities.online</a><br>
                    maintained by gravel.<br>
                    sessioncommunities.online sources from our site.
                </p>
                <p>
                    <a href="https://sessioncommunities.info">https://sessioncommunities.info</a><br>
                    maintained by BlackHouse.<br>
                </p>
                <p>
                    <a href="https://session.directory">https://session.directory</a><br>
                    maintained by anonymous.
                </p>
                <br>
                <p class="topic">
                    other session related links:
                </p>
                <p>
                    Download Session at:
                    <a href="https://getsession.org/">https://getsession.org/</a><br>
                </p>
                <p>
                    the crypto behind Session, SESH:
                    <a href="https://token.getsession.org">https://token.getsession.org</a><br>
                </p>
                <p>
                    Session in Wikipedia:
                    <a href="https://en.wikipedia.org/wiki/Session_(software)">https://en.wikipedia.org/wiki/Session_(software)</a><br>
                </p>
                <p>
                    STF, Session Technology Foundation, a Swiss non-profit behind Session:
                    <a href="https://session.foundation">https://session.foundation</a><br>
                </p>
                <p>
                    STF Github page:
                    <a href="https://github.com/session-foundation">https://github.com/session-foundation</a><br>
                </p>
                <p>
                    Session app Twitter/X:
                    <a href="https://x.com/session_app">https://x.com/session_app</a><br>
                </p>
                <p>
                    Session Technology Foundation Twitter/X:
                    <a href="https://x.com/SessionTechFND">https://x.com/SessionTechFND</a><br>
                </p>
                <p>
                    Lokinet Twitter/X:
                    <a href="https://x.com/Lokinet_org">https://x.com/Lokinet_org</a><br>
                </p>
                <p>
                    OPTF, Oxen Privacy Tech Foundation, the predecessor of STF:
                    <a href="https://optf.ngo/">https://optf.ngo/</a><br>
                </p>
                <p>
                    Lokinet, onion routing network built on SESH nodes:
                    <a href="https://lokinet.org/">https://lokinet.org/</a><br>
                </p>
                <p>
                    OXEN, a crypto coin, the predecessor of SESH:
                    <a href="https://oxen.io/">https://oxen.io/</a><br>
                </p>
                <p>
                    Session Youtube:
                    <a href="https://www.youtube.com/@SessionTV">https://www.youtube.com/@SessionTV</a><br>
                </p>
            </div>
        </div>
    <div>

{% endblock content %}