{% extends "basepages/basepage.html" %}

{% block title %} about {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pages/about.css" />
{% endblock %}

{% block content %}

    <div>
        <div id="aboutwrapper">
            <div id="about">
                <p>
                    this is totally uncensored Session listing site.
                </p>
                <p>
                    the site is under development. sorry for any bugs.
                </p>
                <p>
                    the site is not affiliated with Session or any other organization.
                </p>
                <p>
                    the site does not track you. the site does not use cookies.
                </p>
                <p>
                    the site does not use any ads or any third party services.
                </p>
                <p>
                    the site does not store any data about you. the site does not use any analytics.
                </p>
                <p>
                    the site does not use any javascript and is thus compatible with TOR
                </p>
                <p>
                    if you want to add a community, please use the add community page.
                </p>
                <p>
                    if you want to report a community for allowing CSAM, please use the report page.
                </p>
                <p>
                    the site is developed by site admin M1.
                </p>
                <p>
                    i will be present in all listed communities no matter what is the content of the community.
                </p>
                <p>
                    i will be happy to hear your feedback. you can contact me on session:
                </p>
                <p>
                    058e64a698a226758ac45d30f00cc070d4627ce4437019df7f123bd080dde6a17a
                </p>
            </div>
        </div>
    <div>

{% endblock content %}