<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSETS_ROOT }}/img/apple-icon.png">
  <link rel="icon" type="image/png" href="{{ ASSETS_ROOT }}/img/favicon.png">
  <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/index.css" rel="stylesheet" />

  <title>
    session.online
  </title>

</head>
<body class="presentation-page">

{% include 'includes/navigation.html' %}

</body>

</html>