{% extends "basepages/basepage.html" %}

{% block title %} report {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pages/report.css" />
{% endblock %}

{% block content %}

    <div>
        <div id="reportwrapper">
            <div id="report">
                <p>
                    report session communities which break the rules.
                    <hr style="border: 0">
                    <hr style="border: 0">
                    session id of site admin puolimetalli:
                    <hr style="border: 0">
                    05776ef97ea471892f4f05c653b7c93f7dc95128472fa0658dab21f89746f05772
                </p>
            </div>
        </div>
    <div>

{% endblock content %}