{% extends "basepages/basepage.html" %}

{% block title %} report {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pages/report.css" />
{% endblock %}

{% block content %}

    <div>
        <div id="reportwrapper">
            <div id="report">
                <p>
                    report communities which allow child pornography.
                    <hr style="border: 0">
                    community url of session.online community:
                    <hr style="border: 0">
                    http://46.101.188.8/sessiononline?public_key=9ee82d96ff24a34bcb2b3520c2541d5d392c5412488744370462c106ccf0ea19
                    <hr style="border: 0">
                    <hr style="border: 0">
                    session id of site admin M1:
                    <hr style="border: 0">
                    058e64a698a226758ac45d30f00cc070d4627ce4437019df7f123bd080dde6a17a
                </p>
            </div>
        </div>
    <div>

{% endblock content %}