{% extends "basepages/basepage.html" %}

{% load render_table from django_tables2 %}

{% block title %} communities {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/pages/table.css" />
{% endblock %}

{% block content %}

  <div>
    <div id="tablewrapper">
      <div id="tabletext">
        <p>
          on this website you can view listed Session communities, their statuses and copy their urls to join
        </p>
        <p>
          on this website you can add your Session community to the list by pasting the url after logging in
        </p>
        <p>
          welcome! have fun! if you have questions, check 'how to' and 'about' -pages
        </p>
      </div>
    </div>  
    <div>
      <tr class="{% cycle "odd" "even" %}"> </tr>

      {% render_table object_list %}
    </div>
  </div>

{% endblock content %}